## Dependencies ##
node_modules
package-lock.json
yarn.lock

## Github ##
*/.github/
*/workflows/

## Config ##
config.yml
config.json

## BrayanBot ##
config.yml
config.json
Addons/
Addon_Configs/
EvoTickets

## Logs ##
errors.txt
WebServerLog.txt

## Databases ##
*.db
*.sqlite

## Misc ##
disposal/
*.bak